<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ericmiles.mobiletrans"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="me.ericmiles.mobiletrans.USES_REST" />

    <!-- This permission identification is important, it allows us to broadcast messages -->
    <!-- That only applications that have been signed by THIS application's certificate -->
    <!-- Can register to listen for.  Essentially allow application only broadcasts -->
    <permission
        android:name="me.ericmiles.mobiletrans.USES_REST"
        android:protectionLevel="signature" >
    </permission>

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".activities.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTask">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ErrorActivity" >
        </activity>
        <activity
            android:name=".activities.SecondaryActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activities.TimeoutWarningActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>

        <service android:name=".rest.RestDelegateService" >
        </service>
        <service android:name=".rest.SendFailedMessageService" >
        </service>

        <!-- The session manager broadcast receiver is interested in ALL valid network calls (category) -->
        <!-- Also notice it uses the custom permission -->
        <receiver
            android:name=".session.SessionManagerBroadcastReceiver"
            android:permission="me.ericmiles.mobiletrans.USES_REST" >
            <intent-filter android:priority="500" >
                <action android:name="me.ericmiles.mobiletrans.ACTION_REST_RESULT" />

                <category android:name="me.ericmiles.mobiletrans.operations.LoginOperation.Response" />
                <category android:name="me.ericmiles.mobiletrans.operations.LogoutOperation.Response" />
                <category android:name="me.ericmiles.mobiletrans.operations.TimeoutOperation.Response" />
            </intent-filter>
        </receiver>
        <!-- Error broadcast receiver is interested in a few exceptions -->
        <receiver
            android:name=".rest.ErrorBroadcastReceiver"
            android:permission="me.ericmiles.mobiletrans.USES_REST" >
            <intent-filter android:priority="100" >
                <action android:name="me.ericmiles.mobiletrans.ACTION_REST_RESULT" />

                <category android:name="org.apache.http.conn.ConnectTimeoutException" />
                <category android:name="java.net.ConnectException" />
                <category android:name="me.ericmiles.mobiletrans.DEFAULT_EXCEPTION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>